@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,300&display=swap');

body {
  margin: 0;
  font-family: 'IBM Plex Mono',monospace;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-weight: 700;
}

p {
  margin: 5px;
  font-weight: 700;
}

.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: stretch;
  margin-bottom: 50px;
  text-align: start;
}

.partContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  margin-top: 80px;
  width: 30%;
  border: 2px solid #222;
  border-radius: 5px;
}

.partContainer:hover{
  transform: scale(1.05);
  transition: ease-in-out, .3s;
  cursor: pointer;
}

.exercises{
  font-style: italic;
  font-weight: 300;
  color: #666;
}